DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'
DB_HOST='localhost'
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://example.com'
WP_SITEURL='${WP_HOME}/wp'

# Generate unique salts using https://roots.io/salts.html
AUTH_KEY='generate-a-unique-key-here'
SECURE_AUTH_KEY='generate-a-unique-key-here'
LOGGED_IN_KEY='generate-a-unique-key-here'
NONCE_KEY='generate-a-unique-key-here'
AUTH_SALT='generate-a-unique-key-here'
SECURE_AUTH_SALT='generate-a-unique-key-here'
LOGGED_IN_SALT='generate-a-unique-key-here'
NONCE_SALT='generate-a-unique-key-here'
